<% title 'Festival Blog' %>
<% description 'One of our bloggers dives into a fesitval and tells you about their experience.' %>
<p id="notice"><%= notice %></p>

<div class='row-fluid'>
  <div class='span12'>
    <article class='blog-container show-blog'>
      <h2>
        <%= @blog.title %>
      </h2>
      <hr class='horizontal-divider-2'>
      <p>
        <pre class='blog-area'>
        <%= raw @blog.content %>
      </pre>
      </p>
    </article>
  </div>
</div>
<div class='row-fluid'>
  <div class='span8'>
    <h3>Comments</h3>
    <section class="outer-comment-container">
    <%if @blog.comments.empty? %>
      <i><h5>No Comments</h5></i>
    <%end%>
    <%= render @blog.comments %>
    <hr class='horizontal-divider-1'>
    <%= render :partial => 'comments/form', :locals => {:commentable => @blog} %>
  </div>
  </div>
</div>
