<% title 'Sign Up' %>
<% description 'Sign up for an account on this page.' %>

<div class='container login-container'>
  <div class='row-fluid'>
    <div class='span12'>
      <h3>Register With</h3>
    </div>
  </div>

  <%= render "devise/shared/social" %>

  <div class='row-fluid'>
    <h4>OR </h4>
  </div>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email, 'Email:' %>
        <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :username, 'Username:' %>
        <%= f.text_field :username %></div>

        <% if f.object.password_required? %>

          <div><%= f.label :password, 'Password:' %>
          <%= f.password_field :password, class: 'js-password' %></div>

          <div><%= f.label :password_confirmation, 'Password Confirmation:' %>
          <%= f.password_field :password_confirmation, class: 'js-password-confirmation' %></div>
        <% end%>
        <div><%= f.submit "Sign up", :class => 'btn' %></div>
      <% end %>

      <hr class='horizontal-divider'>

      <%= render "devise/shared/links" %>
</div>