lineup
<% if user_signed_in? %>

 <% current_user.festivals.each do |festival| %>
    <div href="#<%=festival.id%>" data-toggle="modal"class="lineup-box">
      <%= festival.name %>
      <%= festival.start_date %>
      <%=image_tag(festival.lg_img_url, alt:festival.name+" Facebook Image") %>
    </div>
    <%= render :partial => "festivals/modal", :locals => {:festival => festival} %>
  <%end%>


<%end%>