<div role="main" class="main-page-container">
  <h2> My Summer Lineup</h2>
  <% if user_signed_in? %>

    <% current_user.festivals.order('start_date ASC').each do |festival| %>

      <div class="lineup-box">
        <a href="festivals/<%=festival.id%>">
          <span class="lineup-span">
            <div class="lineup-date">
              <% unless festival.start_date == nil%>
              <%= l festival.start_date, format: :full %>
              <%end%>

            </div>

              <%unless festival.img_url=='-'%>
                <%=image_tag(festival.lg_img_url, alt:festival.name+" Facebook Image") %>
              <%end%>
              
              <%= festival.name %> 

              
            

          </span>
        </a>
        <%= link_to "Remove From Lineup", {:controller =>"users", :action => "remove_line", :id => festival.id}, :class => 'btn remove-button btn-danger', method: :post %>
      </div>

    <%end%>
  <%end%>
</div>