lineup
<% if current_user %>

 <% current_user.festivals.each do |festival| %>
    <div href="#<%=festival.id%>" data-toggle="modal"class="lineup-box">
      <%= festival.name %>
      <%= festival.date %>
    </div>
    <div id="<%=festival.id%>" class="festival-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><%=festival.name%></h3>
      </div>
      <div class="row-fluid">
      <div class="span6">
      <%=image_tag("infrasound.jpg", alt:"infrasound") %>
      </div>
      <div class="span6">
        <div class="modal-body">
          <div class="well modal-box">
            <div class="box-header">
            <h3>Type of Music</h3>
          </div>
            <p><%=festival.genre%></p>
          </div>
          <div class="well modal-box">
            <div class="box-header">
            <h3>Date</h3>
          </div>
            <p><%=festival.date%></p>
          </div>
          <div class="well modal-box">
            <div class="box-header">
            <h3>Website</h3>
          </div>
            <p><%=festival.website%></p>
          </div>
        </div>
      </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>
  <%end%>


<%end%>