<div id='message-container' class='main-page-container'>
  <div class="row">
    <section id='inbox' class='span7'>
      <% current_user.inbox.each do |message|%>
        <%= content_tag 'header', :class => message.opened ? "message-header" : "message-header unopened" do%> <b>Subject:</b> <%= message.subject%> <b>From:</b> <%=User.find(message.sender_id).username%>,  <%=link_to 'Reply', '#', class: 'btn btn-mini'%>     <%end%>
        <div class="message">
           <%= message.body%>
         
           
        </div>
      <%end%>
    </section>
    <section id='outbox' class='span7'>
      <% current_user.outbox.each do |message|%>
        <%= content_tag 'header', :class => "message-header" do%> <b>Subject:</b> <%= message.subject%> <b>To:</b> <%=User.find(message.recipient_id).username%>,  <%end%>
        <div class="message">
          <%= message.subject%>, <%= message.body%>
        </div>
      <%end%>
    </section>
  </div>
</div>