<div class="filter-map-row row">
  <div class="filter-bar-map">
    <%= link_to "Camping Festivals",'#', id: 'camping', class: 'filter-button btn btn-success' %> 
    <%= link_to "Non Camping Festivals",'#', id: 'no-camping', class: 'filter-button btn btn-success' %> 
    <%= link_to "Cruises",'#', id: 'cruise', class: 'filter-button btn btn-success' %> 
    <%= link_to "All",'#', id: 'all', class: 'btn btn-success' %>
  </div>
  <div class="slider-box-map">
    <div id='date-range' style="width: 300px"></div>
    <input type="text" id="filtered-pop-map" style="width: 160px"/>
  </div>
  <div class='map-search'>
  <%= form_for @search, :url => "/get_map_events/" , :html => {:method => :get, :class => "form-inline"} do |f| %>
        <%= f.label :addressable_event_type_festival_year_festival_name_contains , "Name:  " %>
          <%= f.text_field :addressable_event_type_festival_year_festival_name_contains %>
       <%= f.submit %>

    </div>
  <% end %>
  </div>

</div>





<section id ="events-map">
  <div class="loader">
</div>

<%= gmaps("markers" => {"data" => [], "options" => { 'randomize'=>true, 'max_random_distance'=>10  } }, :last_map => false ) %> 

</section>

<script type="text/javascript" charset="utf-8">
$(function() {
 
//hide the empty container
  $(".map_container").hide();

 
  $.getJSON('/get_map_events/', function(json){
    $(".map_container").show();
    $('.loader').hide();
    Gmaps.loadMaps();
    Gmaps.map.addMarkers(json);
  })


 
});
</script>

<% content_for :scripts do %>
  <script type="text/javascript">
    
    Gmaps.map.callback = function() {
<% if false%>
        for (var i = 0; i <  this.markers.length; ++i) {
       //Gmaps.map.markers[i] is the marker's wrapper
       //Gmaps.map.markers[i].serviceObject is the google map's object
       google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', loadAndDisplayInfowindow(Gmaps.map.markers[i]) });
      }
    };
    function loadAndDisplayInfowindow(markerContainer){
      return function(){
         //your code to get the html with ajax, the user id is available in markerContainer.id
         var @evid = markerContainer.id;
         <% @ev = Event.find(@evid)%>
         var yourHTML = <%= render_to_string(:partial => "/events/infowindow", :locals => { :event => @ev}) %>;
         //basic google map code to display infowindow
         var infowindow = new google.maps.InfoWindow({content: yourHTML });
         currentMap = Gmaps.map
         if (currentMap.visibleInfoWindow !== null)
         { currentMap.visibleInfoWindow.close(); }
         infowindow.open(currentMap.map, markerContainer.serviceObject)
         currentMap.visibleInfoWindow = infowindow;

      }
    }
        <%end%>

      var activeFilter=false;
      var activeFilterType;
      var activeDate=false;
    
      
       var DateFilter = {
        min: 1,
        max: 12,
      };

      var monthes = {
          1: 'January',
          2: 'February',
          3: 'March',
          4: 'April',
          5: 'May',
          6: 'June',
          7: 'July',
          8: 'August',
          9: 'September',
          10: 'October',
          11: 'November',
          12: 'December'
      }


      $( "#filtered-pop-map" ).val( (monthes[DateFilter.min])+ " - " + (monthes[DateFilter.max]))
      $("#date-range").slider({
        range: true,
        min: DateFilter.min,
        max: DateFilter.max,
        values: [ DateFilter.min, DateFilter.max ],
        slide: function(event, ui) {
          $( "#filtered-pop-map" ).val( (monthes[ui.values[ 0 ]])+ " - " + (monthes[ui.values[ 1 ]]))
          DateFilter.min = ui.values[ 0 ]
          DateFilter.max = ui.values[ 1 ]
          activeDate=true;
          DateFilter()
        }
      });

      $(".filter-button").click(function(e) {
        e.preventDefault();
        $(".filter-bar").children('.btn').removeClass('active')
        $(this).addClass('active')
        var type = $(this).attr('id');
        if(type=='no-camping') {
          type='no camping'
        } 
        activeFilter = true;
        activeFilterType = type;
        
        buttonFilters(type)
      });

      $("#all").click(function(e) {
        e.preventDefault();
        $(".filter-bar").children('.btn').removeClass('active')
        activeFilter = false;
        $(this).addClass('active')
        if(!activeDate){
        AllMarkers();
        }else{
          AllMarkers();
          _.each(HiddenDates(), function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        }
      });

      var HiddenDates = function() {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
          return marker.start_at >= DateFilter.min && marker.start_at <= DateFilter.max;
        });
        return filtered
       }

      var DateFilter = function() {
        if (!activeFilter){
          AllMarkers();
        }else{
          AllMarkers();
          _.each(HiddenType(activeFilterType), function(marker) {
          Gmaps.map.hideMarker(marker)
        })

        }
        _.each(HiddenDates(), function(marker) {
          Gmaps.map.hideMarker(marker)
        })

        
      };

      

      

      var HiddenType = function(type) {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
            return marker.event_type == type;
          
        });

        return filtered
       };

      var AllMarkers = function() {
        _.each(Gmaps.map.markers, function(marker) {
          Gmaps.map.showMarker(marker)
        })

      };
      var buttonFilters = function(type) {
        AllMarkers();
        if(activeDate){
          AllMarkers();
          _.each(HiddenDates(), function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        }

        _.each(HiddenType(type), function(marker) {

          Gmaps.map.hideMarker(marker)
        })
    
        

        
      };
    }
  </script>
<%end%>