<div class="row-fluid rideshare-top">
  <div class='span6 '>
    <div class='btn-group filter-bar'>
      <%= link_to "Camping",'#', id: 'camping', class: 'type-filter-button btn btn-success' %> 
      <%= link_to "Non Camping",'#', id: 'no-camping', class: 'type-filter-button btn btn-success' %> 
      <%= link_to "Cruises",'#', id: 'cruise', class: 'type-filter-button btn btn-success' %> 
      <%= link_to "All",'#', id: 'type-all', class: 'btn btn-success active' %>
    </div>
    <div class='btn-group filter-bar'>
      <%= link_to "Festivals",'#', id: 'Festival', class: 'ride-filter-button btn btn-success' %> 
      <%= link_to "Rides",'#', id: 'Ride', class: 'ride-filter-button btn btn-success' %> 
      <%= link_to "Both",'#', id: 'ride-all', class: ' btn btn-success active' %>
    </div>
  </div>
  <div class='span6'>
    <div class="row-fluid">
      <div class='span6'>
        <%if user_signed_in?%>
          <%= link_to 'Need/Have a ride to a fesitval? Post it here!', new_user_ride_path(current_user), class: 'btn btn-primary post-ride-button' %>
        <%elsif Rails.env.production?%>
          <%= link_to 'Need/Have a ride to a fesitval? Post it here!', 'http://www.musicfestivalnation.com/users/login', class: 'btn btn-primary post-ride-button' %>
        <%else%>
          <%= link_to 'Need/Have a ride to a fesitval? Post it here!', 'users/login', class: 'btn btn-primary post-ride-button' %>
        <%end%>
      </div>
      <div class='span6'>
        <div id='date-range' style="width: 98%"></div>
          <input type="text" id="filtered-pop" style="width: 49%"/>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="loader">
</div>

<div class='row-fluid'>
  <div class='span8'>
    <%= gmaps("map_options" => { :raw => "{scrollwheel: false}"}, "markers" => {"data" => [], "options" => { 'randomize'=>true, 'max_random_distance'=>30  } }, :last_map => false ) %> 

  </div>
  <div class='span4'>
    <section class="rideshare-sidebar">
      <%= form_for @search, :url => '/rideshare/', :html => {:method => :get, :class => "form-horizontal"}, :remote => true do |f| %>
        <div class="row">
          <div class="control-group">
            <%= f.label :festival_year_festival_name_contains , "Name ", class: "control-label" %>
            <div class="controls">
              <%= f.text_field :festival_year_festival_name_contains %>
            </div>
          </div>
          <div>
            <%= f.submit 'Search', class: 'btn' %>
          </div>
        </div>

        
      <% end %>

      <div id="rideshare-event-list">
        <%= render 'ridesharelist'%>
      </div>
    </section>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
$(function() {
 
//hide the empty container
$(".map_container").hide();

 
  $.getJSON('/get_events_rideshare', function(json){
    $(".map_container").show();
    $('.loader').hide();
    Gmaps.loadMaps();
    Gmaps.map.addMarkers(json);
  })


 
});
</script>

<% content_for :scripts do %>
  <script type="text/javascript">
    
    Gmaps.map.callback = function() {



      $.getJSON('/rides_gmap', function(data){
          Gmaps.map.addMarkers(data);
        });

      
      var isRideFilterActive=false;
      var isTypeFilterActive=false;
      var isDateFilterActive=false;
      var activeFilterRide="";
      var activeFilterType="";


      $(document).on("click", ".rideshare-link", function(e) {
        e.preventDefault();

        $(".filter-bar").children('.btn').removeClass('active')

        fest = $(this).data('festid');
        festivalFilters(fest);
      });
    
      
       var DateFilter = {
        min: 1,
        max: 12,
      };

      var monthes = {
          1: 'January',
          2: 'February',
          3: 'March',
          4: 'April',
          5: 'May',
          6: 'June',
          7: 'July',
          8: 'August',
          9: 'September',
          10: 'October',
          11: 'November',
          12: 'December'
      }

      $( "#filtered-pop" ).val( (monthes[DateFilter.min])+ " - " + (monthes[DateFilter.max]))
      $("#date-range").slider({
        range: true,
        min: DateFilter.min,
        max: DateFilter.max,
        values: [ DateFilter.min, DateFilter.max ],
        slide: function(event, ui) {
          $( "#filtered-pop" ).val( (monthes[ui.values[ 0 ]])+ " - " + (monthes[ui.values[ 1 ]]))
          DateFilter.min = ui.values[ 0 ]
          DateFilter.max = ui.values[ 1 ]
          isDateFilterActive=true;
          DateFilter(activeFilterType, activeFilterRide);
        }
      });

      $(".type-filter-button").click(function(e) {
        e.preventDefault();
        $(this).parent(".filter-bar").children('.btn').removeClass('active')
        $(this).addClass('active')
        activeFilterType = $(this).attr('id');
        if(activeFilterType=='no-camping') {
          activeFilterType='no camping';
        };
        isTypeFilterActive = true;
        
        typeButtonFilters(activeFilterType,activeFilterRide);
      });

      $(".ride-filter-button").click(function(e) {
        e.preventDefault();
        $(this).parent(".filter-bar").children('.btn').removeClass('active')
        $(this).addClass('active')
        activeFilterRide = $(this).attr('id');

        isRideFilterActive = true;
        
        rideButtonFilters(activeFilterType , activeFilterRide)
      });


      $("#type-all").click(function(e) {
        e.preventDefault();
        $(this).parent(".filter-bar").children('.btn').removeClass('active')
        isTypeFilterActive = false;
        $(this).addClass('active')
        
        AllMarkers();
        if(isDateFilterActive){
          _.each(HiddenDates(), function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        }
        if(isRideFilterActive){
          _.each(HiddenRide(activeFilterRide), function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        }

      });

      $("#ride-all").click(function(e) {
        e.preventDefault();
        $(this).parent(".filter-bar").children('.btn').removeClass('active')
        $(this).addClass('active')
        isRideFilterActive = false;
        
        AllMarkers();
        if(isDateFilterActive){
          _.each(HiddenDates(), function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        }
        if(isTypeFilterActive){
          _.each(HiddenType(activeFilterType), function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        }

      });





      var HiddenDates = function() {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
          if( marker.id >0){
          return marker.start_at >= DateFilter.min && marker.start_at <= DateFilter.max;
        }else{return marker.ride_event_date >= DateFilter.min && marker.ride_event_date <= DateFilter.max;}
        });
        return filtered
       }

      var DateFilter = function(activeFilterType, activeFilterRide) {
        AllMarkers();
        if (isTypeFilterActive){
          _.each(HiddenType(activeFilterType), function(marker) {
            Gmaps.map.hideMarker(marker)
          })
          };
        if (isRideFilterActive){
          _.each(HiddenRide(activeFilterRide), function(marker) {
            Gmaps.map.hideMarker(marker)
          })
          };
        _.each(HiddenDates(), function(marker) {
          Gmaps.map.hideMarker(marker)
        })

        
      };

      var HiddenType = function(activeFilterType) {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
          if( marker.id >0){
            return marker.event_type == activeFilterType;
          }else{return marker.ride_event_type ==activeFilterType;}
        });

        return filtered
       };

       var HiddenRide = function(activeFilterRide) {
       var filtered = _.reject(Gmaps.map.markers, function(marker) {
          if( activeFilterRide == "Festival"){
            return marker.id > 0;
          }else{return !(marker.id > 0);}
        });

        return filtered
       };


      var HiddenFestival = function(fest) {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
          if( marker.id >0){
            return 'fest_'+marker.id == fest;
          }else{return 'fest_'+marker.event_id ==fest;}
        });

        return filtered
       };

      var AllMarkers = function() {
        _.each(Gmaps.map.markers, function(marker) {
          Gmaps.map.showMarker(marker)
        })

      };

      var festivalFilters = function(fest) {
        AllMarkers();


        _.each(HiddenFestival(fest), function(marker) {

          Gmaps.map.hideMarker(marker)
        })
      }

      var typeButtonFilters = function(activeFilterType, activeFilterRide) {
        AllMarkers();
        if(isDateFilterActive){
          _.each(HiddenDates(), function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        };

        if (isRideFilterActive){
          _.each(HiddenRide(activeFilterRide), function(marker) {
            Gmaps.map.hideMarker(marker)
          })
          };

        _.each(HiddenType(activeFilterType), function(marker) {

          Gmaps.map.hideMarker(marker)
        })
    
        

        
      };

      var rideButtonFilters = function(activeFilterType, activeFilterRide) {
        AllMarkers();
        if(isDateFilterActive){
          _.each(HiddenDates(), function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        } 
        if(isTypeFilterActive) {
          _.each(HiddenType(activeFilterType), function(marker) {
          Gmaps.map.hideMarker(marker)
          })

        }

        _.each(HiddenRide(activeFilterRide), function(marker) {

          Gmaps.map.hideMarker(marker)
        })
    
        

        
      };
    }
  </script>
<%end%>