<div class='row-fluid'>
  <div class='span8'>
    <section id="carousel">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div id="festival-month" class="active carousel-div item">
            <div class="item-container">
              <%=link_to image_tag("bella.jpg", alt:"Bella Mente Picture"), @blog%>
      
              <div class="item-footer well well-large">
                <h3>
                  Belle Mente - My First Festival
                </h3>
                <p>
                  Our web developer shares his first experience at a festival.
                </p>
              </div>
            </div>
            
          </div>
          <div id="musician-month"  class="item carousel-div">
            <div class="item-container">
              <%=link_to image_tag("rideshare.png", alt:"Music Festival Nation Rideshare App"), '/rideshare'%>

              <div class="item-footer well well-large">
                <h3>
                  Setup Rides With Other Festival Goers!
                </h3>
                <p>
                  Ask for or provide a ride for any US festival. Getting to festivals has never been easier.
                </p>
              </div>
            </div>
          </div>
          <div id="festival-review" class="item carousel-div">
            <div class="item-container">
              <%=link_to image_tag("review.png", alt:"wakarusa festival review"), 'http://www.musicfestivalnation.com/festivals/325' %>

              <div class="item-footer well well-large">
                <h3>
                  Review Any Festival
              </h3>
                <p>
                  Look at our official Wakarusa review or create your own. Rate the festival, its security, and talk about your experience.
                </p>
              </div>
            </div>
          </div>
        </div> 
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </section>
    <section id="blogs">
      <% @blogs.each do |blog| %>
        <article class='blog-container home-blog'>
          <h2>
            <%= link_to blog.title, blog %>
          </h2>
          <hr class='horizontal-divider-2'>
          <pre class='blog-area'>
            <%= raw blog.content %>
          </pre>
          <footer class='blog-footer'>
            by <i><%=blog.author%></i>
            <%= link_to 'Read More...', blog %>

          </footer>

        </article>
      <%end%>
      <%= will_paginate @blogs %>
    </section>
  </div>

  <div class='span4'>
    <div class= "sidebar">
      <div id="facebook-widget">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like-box" data-href="https://www.facebook.com/MusicFestivalNation" data-width="292" data-height="250" data-show-faces="true" data-stream="false" data-header="false"></div>
      </div>
      <div id="twitter-widget">
        <a class="twitter-timeline"  href="https://twitter.com/MusicFestNation"  data-widget-id="300359219029360640">Tweets by @MusicFestNation</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <aside id="advertise-here">
        <%= link_to "Want your ad here?", '/advertising'%> </br>
        <%= link_to "Click for info", '/advertising' %>
            
      </aside>
    </div>
  </div>
</div>
<footer>
</footer>




