<% title 'Survival Guide' %>
<% description 'Great festival survival tips and tricks to help you for your festival trips.' %>

<div id="survival-page">
  <h2>
    Make the most out of your festival!
  </h2>
  <p> 
  	Going to a music festival is unlike anything else, you leave reality and enter a happy music filled world. If you have never been to one then there are a few things you should know that will make the festival experience even better. 
  </p>
  	<ul>
  	  <li>
  	  	<%= link_to 'Pick the right festival', '/festival-list/US/2013/', target: "_blank" %>
  	  </li>
  	  <li>
  	  	Invite your friends
  	  </li>
  	  <li>
  	  	<%= link_to 'Pack everything you need', 'http://www.festivalsurvivalguide.com/music-festival-packing-list-ebook', target: "_blank" %>
  	  </li>
  	  <li>
  	  	<%= link_to 'Get prepped for the trip', 'http://www.festivalsurvivalguide.com/pre-festival-to-do-list', target: "_blank" %>
  	  </li> 
  	  <li>
  	  	<%= link_to 'Setup your temporary home', 'http://www.festivalsurvivalguide.com/setup-secrets', target: "_blank" %> 
  	  </li>
  	</ul>
  <p>
  	  These are just a few tips that can make your festival trip go smoother. If you want more info/tips on festivals, go check out <%= link_to "Festival Survival Guide", 'http://www.festivalsurvivalguide.com/',  target: "_blank" %>. They have great festival related blogs like The <%= link_to "Ultimate Packing List", "http://www.festivalsurvivalguide.com/the-ultimate-packing-list" , target: "_blank" %>, <%= link_to "Festy Wear What do I Pack?", "http://www.festivalsurvivalguide.com/festy-wear-what-do-i-pack"  , target: "_blank" %>, <%= link_to "Surviving Bonnaroo", "http://www.festivalsurvivalguide.com/surviving-bonnaroo"  , target: "_blank" %>. 
  </p>
  <%= link_to image_tag('fsglogo.png'), 'http://www.festivalsurvivalguide.com/', :target=>'_blank' %>
  
</div>