<%= render "head" %>

<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
     
	<%= render :partial => "tabs_panel" %>
	
    <div id="tabs-messages" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    	<%= form_tag create_mailboxes_path, :method => :post do %>
    	<h5>
    		We are experiencing a glitch with capital leters, when typing in a users name avoid capital letters. For example, type usic or est for MusicFestNation, sorry for the inconvenience. 
    	</h5>
			<p>
			  	<%= label_tag :user_tokens, "User :" %>
          <%if params[:user] %>
			  	  <%= text_field_tag :user_tokens, "", :class => "text small", input_html: {value: params[:user]} %>
          <%else%>
            <%= text_field_tag :user_tokens, "", :class => "text small" %>
          <%end%>
			</p>
			<p>
			    <%= label_tag :subject, "Subject :" %>
				<%= text_field_tag :subject, "", :class => "text medium" %>
			</p>
			<p>
			    <%= label_tag :body, "Messages :" %>
				<%= text_area_tag :body, "", :class => "medium" %>
			</p>
			<p>
				<%= submit_tag "Send", :class => "submit" %>
			</p>
		<% end %>
    </div>    
</div>
