<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <% if params[:topic] %>
    <%= f.input :topic_id, as: :hidden, :input_html => { :value => params[:topic] } %>
  <%end%>
  
  <div class="form-inputs">
    <%= f.input :content, input_html: {style: 'width:80%;min-width: 350px;'} %>

  </div>


    <%= f.button :submit %>

<% end %>
