<h4>Event</h4>
<%= f.label :start_at, "Start", class: "control-label" %>
<div class="controls">
  <%= f.text_field :start_at, :placeholder => '2013-06-01', :class => "event-form-date" %>
</div>
<%= f.label :end_at, "End", class: "control-label" %>
<div class="controls">
  <%= f.text_field :end_at, :placeholder => '2013-06-03', :class => "event-form-date" %>
</div>
<%= f.input :event_type, collection: ['camping','no camping', 'cruise'] %>
<%= f.simple_fields_for :address do |d| %>
     
  <%= d.input :line1 %>
  <%= d.input :line2 %>
  <%= d.input :city %>
  <%= d.input :state %>
  <%= d.input :region %>
  <%= d.input :country, priority: [ "United States" ] %>
  <%= d.input :zip %>
<%end%>