<%= simple_form_for(@festival) do |f| %>
  <div class="festival-form-top">
    <%= f.input :name%>
    <%= f.input :website%>
    <%= f.input :facebook%>
    <%= f.input :twitter%>
  </div>
  
  <%= f.simple_fields_for :festival_years do |y| %>
    <%= render 'festival_year_fields', f: y %>
    
    
    <%= y.simple_fields_for :events do |e| %>
      <%= render 'event_fields', f: e %>



    <%end%>
    

  <%end%>
  <%= link_to_add_fields "Add Year", f, :festival_years %>
  <%= f.button :submit %>
<% end %>
  
  