<%= simple_form_for(@festival) do |f| %>

  <%= f.input :name %>
  <%= f.input :website %>
  <%= f.input :facebook %>
  <%= f.input :twitter %>

  <h3>Have An Event Coming Up?</h3>
  <%= f.simple_fields_for :festival_year do |y| %>
    <%= y.input :year %>
    <%= y.simple_fields_for :event do |e| %>
      <%= e.input :start_at %>
      <%= e.input :end_at %>
      <%= e.input :event_type, collection: ['camping','no camping', 'cruise'] %>
      <%= e.simple_fields_for :address do |d| %>
        <%= d.input :line1 %>
        <%= d.input :line2 %>
        <%= d.input :city %>
        <%= d.input :state %>
        <%= d.input :region %>
        <%= d.input :country, priority: [ "United States" ] %>
        <%= d.input :zip %>
      <%end%>
    <%end%>
  <%end%>
  <%= f.button :submit %>
<% end %>
  
  