<div class="festival-infowindow">
  <h3><%=link_to festival.name, festival %></h3>
  <%= image_tag(festival.img_url, alt:festival.name+"'s Facebook Image")%>
  <%= link_to "Add To Lineup", {:controller =>"users", :action => "line", :id => festival.id}, :class => 'btn btn-mini', method: :post %>
  <p>Type: <%= festival.festivaltype %></p>
  <p>Location: <%= festival.city %>, <%= festival.state %>, <%= festival.region %></p>
  <% unless festival.start_date == nil or festival.end_date == nil %>
  <p>Date: <%= l festival.start_date, format: :full  %> - 
  <%= l festival.end_date, format: :full %></p>
  <%end%>
  <p>Facebook: <%=link_to festival.facebook %></p>
  <p>Website: <%= link_to festival.website %></p>
</div>
