
<div class="festival-container">
<aside id ='festival-submit'>
  <%= link_to "Don't see a festival on our list? Submit Here", new_festival_path, :class=>'festival-submit-link' %>
</aside>

<%= form_tag festivals_path, :method => 'get', :id =>'festivals_search' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= form_tag festivals_path, :method => 'get', :class =>'festivals_filter' do %>
  <%= select_tag(:festival, options_for_select(Festival.all.map {|festival| [festival.name, festival.id]})) %>
  <%= submit_tag "Submit", :controller => 'festivals', :action => 'filter' %>
<% end %>

<%= render 'festivals' %>

<%= link_to 'New Festival', new_festival_path %>


<h2>Import Products</h2>

<%= form_tag import_festivals_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>




<br />


</div>
</div>