
<div class='festival-list'>
<table class="table">
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'city' %></th>
      <th><%= sortable 'state' %></th>
      <th><%= sortable 'date' %></th>
      <th><%= sortable 'genre' %></th>
      <th><%= sortable 'website' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @festivals.each do |festival| %>


  <tr href="#<%=festival.id%>" data-toggle="modal">
    <td><%= festival.name %></td>
    <td><%= festival.city %></td>
    <td><%= festival.state %></td>
    <td><%= festival.date %></td>
    <td><%= festival.genre %></td>
    <td><%= festival.website %></td>
    <td>
    <% if current_user %>
      <%if current_user.festivals.empty? %>
        <%= link_to "Add To Lineup", {:controller =>"users", :action => "line", :id => festival.id}, method: :post %>
      <%end%>
      <% i=0 %>
      <% current_user.festivals.each do |x| %>
        <% if x.id == festival.id %>
           <a class="btn disabled lineup-deactivated">Already Added</a>
           <%break%>
        <%else%>
          <% i=i+1 %>
        <%end%>
        <%if current_user.festivals.count == i %>
        <%= link_to "Add To Lineup", {:controller =>"users", :action => "line", :id => festival.id}, :class => 'btn', method: :post %>
        <%end%>
      <% end%>
    <%end%>
    </td>
    <td><%= link_to 'Show', festival %></td>
    <td><%= link_to 'Edit', edit_festival_path(festival) %></td>
    <td><%= link_to 'Destroy', festival, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<div id="<%=festival.id%>" class="festival-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%=festival.name%></h3>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <%=image_tag("infrasound.jpg", alt:"infrasound") %>
    </div>
    <div class="span6">
      <div class="modal-body">
        <div class="well modal-box">
          <div class="box-header">
          <h3>Type of Music</h3>
        </div>
          <p><%=festival.genre%></p>
        </div>
        <div class="well modal-box">
          <div class="box-header">
          <h3>Date</h3>
        </div>
          <p><%=festival.date%></p>
        </div>
        <div class="well modal-box">
          <div class="box-header">
          <h3>Website</h3>
        </div>
          <p><%=festival.website%></p>
        </div>
      </div>
    </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<%end%>


  </tbody>
</table>
<%= link_to 'New Festival', new_festival_path %>


<br />


</div>