<%= link_to "Camping Festivals",'#', id: 'camping', class: 'filter-button btn btn-success' %> 
<%= link_to "None Camping Festivals",'#', id: 'no-camping', class: 'filter-button btn btn-success' %> 
<%= link_to "Cruises",'#', id: 'cruise', class: 'filter-button btn btn-success' %> 
<%= link_to "All",'#', id: 'all', class: 'btn btn-success' %> 

<%if false%>
<div id='date-range' style="width: 500px"></div>
<input type="text" id="filtered-pop" style="width: 200px"/>
<%end%>
<%= gmaps4rails(@json) %>

<% content_for :scripts do %>
  <script type="text/javascript">
    
    Gmaps.map.callback = function() {
      <%if false%>
       var DateFilter = {
        min: 1,
        max: 12,
      };

      $( "#filtered-pop" ).val( (DateFilter.min)+ " - " + (DateFilter.max))
      $("#date-range").slider({
        range: true,
        min: DateFilter.min,
        max: DateFilter.max,
        values: [ DateFilter.min, DateFilter.max ],
        slide: function(event, ui) {
          $( "#filtered-pop" ).val( (ui.values[ 0 ])+ " - " + (ui.values[ 1 ]))
          DateFilter.min = ui.values[ 0 ]
          DateFilter.max = ui.values[ 1 ]
          applyFilters()
        }
      });

      var VisibleMarkers = function() {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
          return marker.start_date < DateFilter.min || marker.start_date > DateFilter.max;
        });
        return filtered
       }

      var applyFilters = function() {
        _.each(Gmaps.map.markers, function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        _.each(VisibleMarkers(), function(marker) {
          Gmaps.map.showMarker(marker)
        })
      };
      <%end%>

      $(".filter-button").click(function() {
        var type = $(this).attr('id');
        if(type=='no-camping') {
          type='no camping'
        } 
        buttonFilters(type)
      });

      $("#all").click(function() {
        _.each(Gmaps.map.markers, function(marker) {
          Gmaps.map.showMarker(marker)
        })
      });

      var VisibleType = function(type) {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
          return marker.festivaltype != type;
        });
        return filtered
       }

      var buttonFilters = function(type) {
        _.each(Gmaps.map.markers, function(marker) {
          Gmaps.map.hideMarker(marker)
        })
    
        _.each(VisibleType(type), function(marker) {
          Gmaps.map.showMarker(marker)
        })

        
      };
    }
  </script>
<%end%>