<div class="festival-show-container">
  <section class="row-fluid">
    <article class="span5 festival-show festival-left">
      <h2>
        <%= @festival.name %>
      </h2>
      
      <%unless @festival.img_url=='-'%>
        <%=image_tag(@festival.lg_img_url, alt:@festival.name+" Facebook Image") %>
      <%end%></br>
      <% if user_signed_in? %>
        <%if current_user.festivals.empty? %>
          <%= link_to "Add To Lineup", {:controller =>"users", :action => "line", :id => @festival.id}, class: "btn", method: :post %>
        <%end%>
        <% i=0 %>
        <% current_user.festivals.each do |x| %>
          <% if x.id == @festival.id %>
             <a class="btn disabled lineup-deactivated">Already Added</a>
             <%break%>
          <%else%>
            <% i=i+1 %>
          <%end%>
          <%if current_user.festivals.count == i %>
          <%= link_to "Add To Lineup", {:controller =>"users", :action => "line", :id => @festival.id}, :class => 'btn', method: :post %>
          <%end%>
        <% end%>
      <%end%>
      
      <h2>
        Location
      </h2>
      <p>
        <%= @festival.city %>,
        <%= @festival.state %>
      </p>
      <h2>
        Dates
      </h2>
      <p>
        <% unless @festival.start_date == nil or @festival.end_date == nil %>
          <%= l @festival.start_date, format: :full %> -
          <%= l @festival.end_date, format: :full%>
        <%end%>
      </p>
      <h2>
        Festival Type
      </h2>
      <p>
        <%= @festival.festivaltype %>
      </p>
      <h2>
        Links
      </h2>
      <p>
        <%= link_to @festival.name+"'s Website", @festival.website %>
      </p>
      <p>
        <%= link_to @festival.name+"'s Facebook", @festival.facebook %>
      </p>

     
      <%= link_to 'Edit', edit_festival_path(@festival) %> |
      <%= link_to 'Back', festivals_path %>
    </article>
    <article class="span7 festival-show festival-right">
      <h3>Comments</h3>
      <%= render @festival.comments %>
      <div class="comment-form">
        <%= form_for([@festival, @festival.comments.build]) do |f| %>
          <div class="field form-horizontal">
            <%= f.label :title %><br />
            <%= f.text_field :title, :placeholder=>"Title" %>
          </div>
          <div class="field">
            <%= f.label :comment %><br />
            <%= f.text_area :comment, :placeholder=>"Add comment here...", :rows=> 3 %>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </article>
  </section>
</div>

