<div class="review-form">
  <%= simple_form_for([festival, festival.reviews.build])  do |f| %>
    <%= f.hidden_field :rating%>
    <div class='overall_rating'>  
      <div id="r1" class="rate_widget">  
        <div id="star_1" class="rating_star"></div>
        <div id="star_2" class="rating_star"></div>
        <div id="star_3" class="rating_star"></div>
        <div id="star_4" class="rating_star"></div>
        <div id="star_5" class="rating_star"></div>
        <div class="total_votes">vote data</div>
      </div>  
    </div>  
    <%= f.input :security%>
    <%= f.input :title, :placeholder=>"Title" %>
    <%= f.input :year, label_method: :year, collection: festival.festival_years %>
    <%= f.input :content, :placeholder=>"Add comment here...", :input_html => { :cols => 50, :rows => 4 }%>
    <%= f.input :atmosphere, :placeholder=>"Add comment here...", :input_html => { :cols => 50, :rows => 3 } %>
    <%= f.input :music, :placeholder=>"Add comment here...", :input_html => { :cols => 50, :rows => 3 } %>
    <%= f.input :staging, :placeholder=>"Add comment here...", :input_html => { :cols => 50, :rows => 3 } %>
    <%= f.input :vendors, :placeholder=>"Add comment here...", :input_html => { :cols => 50, :rows => 3 } %>
    <%= f.input :vip, :placeholder=>"Add comment here...", :input_html => { :cols => 50, :rows => 3 } %>
    <%= f.input :parking, :placeholder=>"Add comment here...", :input_html => { :cols => 50, :rows => 3 } %>

    <%= f.button :submit %>
  <% end %>
</div>
