<div class="ride-infowindow">
  <h4> <%= link_to ride.event.festival_year.festival.name, ride.event.festival_year.festival %> </h4>
  <% if ride.giving_ride %>
    <h5><%=link_to 'I got your ride right here', [ride.user,ride]%></h5>
  <%else%>
    <h5><%=link_to 'Can I snag a ride?', [ride.user,ride]%> </h5>
  <%end%>
  <p><b>Festival Dates:</b> <%= ride.event.start_at %>,<%= ride.event.end_at %></p>
  <p><b>Ride Dates:</b> <%= ride.leave_date %>,<%= ride.return_date %></p>
  <p><b>Location:</b> <%= ride.address.city %>,<%= ride.address.state %></p>
  <p> <b>Message:</b> <%=ride.message %> </p>
  
</div>
