
<div class='row-fluid ride-container'>
  <div class='span12'>
    <%if ride.giving_ride %>
      <div class="row-fluid">
        <h4> Giving a ride - <%=link_to ride.event.festival_year.festival.name, ride.event.festival_year.festival %> - <%=link_to 'Show/Hide Comments', '#', class: 'comment-link'%> - <%= link_to 'Show More...', '/users/'+ride.user.id.to_s+'/rides/'+ride.id.to_s %> <%if user_signed_in?%><%if ride.user.id == current_user.id or current_user.admin == true%> - <%= link_to 'Delete Ride',  ride, method: :delete, data: { confirm: 'Are you sure?' } %><%end%><%end%></h4>
        </div>
    <%else%>
      <div class="row-fluid">
        <h4> Looking for a ride - <%=link_to ride.event.festival_year.festival.name, ride.event.festival_year.festival %> - <%=link_to 'Show/Hide Comments', '#', class: 'comment-link'%> - <%= link_to 'Show More...', '/users/'+ride.user.id.to_s+'/rides/'+ride.id.to_s %> <%if user_signed_in?%><%if ride.user.id == current_user.id or current_user.admin == true%> - <%= link_to 'Delete Ride',  ride, method: :delete, data: { confirm: 'Are you sure?' } %><%end%><%end%></h4>
        </div>
    <%end%>

    <div class='row-fluid <%= ride.giving_ride? ? 'giving ' : 'need '%>ride-content'>

      <div class='ride-dates span3'>
        <% unless ride.event.start_at == nil or ride.event.end_at == nil %>
        <b>Festival Start:</b> <%= l ride.event.start_at, :format => :full%></br>
        <b>Festival End:</b> <%= l ride.event.end_at, :format => :full%>
        <%end%>
      </div>
      <div class='ride-dates span3'>
        <b>Leave:</b> <%= l ride.leave_date, :format => :full%></br>
        <b>Return:</b> <%= l ride.return_date, :format => :full%>
      </div>
      <div class='ride-dates span2'>
        <b>Location:</b> <%= ride.address.line1%>, <%= ride.address.city%>, <%= ride.address.state%>
      </div>

      <div class='ride-cost span1'>
        <b>Cost: </b><%= ride.cost%>
      </div>
      <div class='ride-message span3'>
        <b>Message: </b><%= ride.message%>
      </div>
    </div>
    <div class='row-fluid ride-comments'>
      <%= render ride.comments %>
      <% if ride.comments.length==0 %>
        <i> No Comments </i>
      <%end%>
    </div>
  </div>
</div>
  

