<h3> Username </h3>
<%= @ride.user.username %></br>
<h3> Festival </h3>
<%= @ride.festival.name %></br>
<h3> Leave and Return Dates </h3>
<% unless @ride.leave_date == nil and @ride.return_date == nil or @ride.leave_date == nil or @ride.return_date == nil %>
<%= l @ride.leave_date, format: :full %> - <%= l @ride.return_date, format: :full %></br>
<%end%>
<h3> Cost or Payment </h3>
<%= @ride.cost %>

