<header>
  <div id="social-links">
    <%= link_to image_tag('facebook.png'), 'http://www.facebook.com/MusicFestivalNation', :target=>'_blank' %>
    <%= link_to image_tag('twitter.png'), 'http://www.twitter.com/MusicFestNation', :target=>'_blank' %>
  </div>
  <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.username %>. Not you?
      <% if current_user.admin == true %>
        <%= link_to "Admin", '/admin', :class => 'btn btn-mini' %>
      <%end%>
      <%if current_user.inbox.exists?(:opened => false)%>
      <%= link_to "Messages", '/mailboxes', :class => 'btn btn-mini btn-danger' %>
      <%else%>
        <%= link_to "Messages", '/mailboxes', :class => 'btn btn-mini' %>
      <%end%>
        <a class="dropdown-toggle btn btn-mini" id="profile-dropdown" role="button" data-toggle="dropdown" >
          My Profile
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu profile-dropdown-list" role="menu">
          <li class="dropdown-li">
            <%= link_to 'My Contests', '/my-contests' %>
          </li>
          <li class="dropdown-li">
            <%= link_to 'My Comments', '/my-comments' %>
          </li>
          <li class="dropdown-li">
            <%= link_to 'My Reviews', '/my-reviews' %>
          </li>
          <%if false %>
          <li class="dropdown-li">
            <%= link_to 'My Festival  Lineup', '/festival-lineup' %>
          </li>
          <%end%>
          <li class="dropdown-li">
            <%= link_to 'My Rides', '/my-rides' %>
          </li>
          <li class="dropdown-li">
            <%= link_to "Edit Profile",edit_user_registration_path%>
          </li>
          <li class="dropdown-li">
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          </li>

        </ul> 

      
    <% else %>
      <%if Rails.env.production? %>
        <%= link_to "Login", 'http://www.musicfestivalnation.com/users/login', :class => 'sign-in-btn btn btn-mini btn-primary' %>
        <%= link_to "Sign Up", 'http://www.musicfestivalnation.com/users/sign_up', :class => 'sign-in-btn btn btn-mini btn-primary' %>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'sign-in-btn btn btn-mini btn-primary' %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-mini btn-primary' %>
      <% end %>  
    <% end %>
  </div>

  <%if current_page?(root_path) %>
    <section class="visible-desktop todays-festivals-container">
      <h3>Festivals Going On Right Now </h3>
      <% @events.each do |event| %>
        <div class="todays-festival">
          <%=link_to event.festival_year.festival.name, event.festival_year.festival%>
        </div>
      <%end%>
    </section>
  <%end%>

  

  <div class='row-fluid'>
    <div class='span12'>
      <div id="logo">
        <%= link_to image_tag('MFN_Banner.png'), root_path %>
      </div>   
    </div>
  </div>
</header>
    