<nav>
  <div class="row-fluid">
    <div class="span12">
      <div id="main-nav" class="navbar">
        <div class="navbar-inner">
          <div class = "container">
            <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <%# nav for tablet %>

            <div class="visible-tablet">
              <ul class="nav">
                <li class="main-nav-li dropdown <%='active' if current_page?(root_path)%>">
                  <%= link_to 'Home', root_path, :class => 'dropdown-toggle' %>
                </li>
                <li class="main-nav-li dropdown dropdown-helper <%='active' if current_page?('/festival-list/US/2013') or current_page?('/calendar') or
                  current_page?('/festival-map') %>">
                  <%= link_to 'US Festivals', '/festival-list/US/2013', class: "dropdown-toggle"%>
                  <ul class="dropdown-menu">
                    <li class="dropdown-li">
                      <%= link_to 'List', '/festival-list/US/2013' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Calendar', '/calendar' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Map', '/festival-map' %>
                    </li>
                  </ul> 
                </li>   
                <li class="main-nav-li dropdown dropdown-helper <%='active' if current_page?('/my-comments') or current_page?('/festival-lineup') or current_page?('/users/login') or current_page?('/my-comments') or current_page?('/my-profile') or current_page?('/my-reviews') or current_page?('/my-rides') or current_page?('/mailboxes')or current_page?('/my-giveaways') %>">
                  <%= link_to 'My Profile', '/my-profile', :class=>'dropdown-toggle', :role =>'button' %>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-li">
                      <%if user_signed_in? %>
                        <%= link_to 'My Messages', '/mailboxes' %>
                      <% else%>
                        <%= link_to 'My Messages', 'http://www.musicfestivalnation.com/users/login' %>
                      <%end%>

                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Giveaways', '/my-giveaways' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Comments', '/my-comments' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Reviews', '/my-reviews' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Festival  Lineup', '/festival-lineup' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Rides', '/my-rides' %>
                    </li>

                  </ul> 
                </li>      
                <li class="main-nav-li dropdown dropdown-helper <%='active' if current_page?('/rideshare') %>">
                  <a class="dropdown-toggle"  href='/rideshare' role="button">
                    Ride Share
                  </a>
                  <ul class="dropdown-menu" >
                    <li class="dropdown-li">
                      <%= link_to 'Ride Share Map', '/rideshare' %>
                    </li>
                    <li class="dropdown-li">
                      <%if user_signed_in?%>
                      <%= link_to 'Post A Ride', new_user_ride_path(current_user) %>
                      <%else%>
                      <%= link_to 'Post A Ride', 'http://www.musicfestivalnation.com/users/login' %>
                      <%end%>
                    </li>
                    
                  </ul> 
                </li>  
                <li class="main-nav-li <%='active' if current_page?('/about')%>">
                  <%= link_to 'About', '/about', :class => 'dropdown-toggle' %>
                </li> 
                <li class="main-nav-li <%='active' if current_page?('/giveaways')%>">
                  <%= link_to 'Giveaways', '/giveaways', :class => 'dropdown-toggle' %>
                </li> 
                <li class="main-nav-li <%='active' if current_page?('/survivalguide')%>">
                  <%= link_to 'Survival Guide', '/survivalguide', :class => 'dropdown-toggle' %>
                </li> 
                
                
                  </ul> 
                </li>  
              </ul>
            </div>

            <%# nav for phone and desktop. Some pieces are hidden for the phone and replaced below. %>

            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="main-nav-li dropdown <%='active' if current_page?(root_path)%>">
                  <%= link_to 'Home', root_path, :class => 'dropdown-toggle' %>
                </li>
                <li class="hidden-phone main-nav-li dropdown dropdown-helper <%='active' if current_page?('/festival-list/US/2013') or current_page?('/calendar') or
                  current_page?('/festival-map') %>">
                  <%= link_to 'US Festivals', '/festival-list/US/2013', class: "dropdown-toggle"%>
                  <ul class="dropdown-menu">
                    <li class="dropdown-li">
                      <%= link_to 'List', '/festival-list/US/2013' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Calendar', '/calendar' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Map', '/festival-map' %>
                    </li>
                  </ul> 
                </li>   
                <li class="hidden-phone main-nav-li dropdown dropdown-helper <%='active' if current_page?('/my-comments') or current_page?('/festival-lineup') or current_page?('/users/login') or current_page?('/my-comments') or current_page?('/my-profile') or current_page?('/my-reviews') or current_page?('/my-rides') or current_page?('/mailboxes') or
                  current_page?('/my-giveaways') %>">
                  <%= link_to 'My Profile', '/my-profile', :class=>'dropdown-toggle', :role =>'button' %>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-li">
                      <%if user_signed_in? %>
                        <%= link_to 'My Messages', '/mailboxes' %>
                      <% else%>
                        <%= link_to 'My Messages', 'http://www.musicfestivalnation.com/users/login' %>
                      <%end%>

                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Giveaways', '/my-giveaways' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Comments', '/my-comments' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Reviews', '/my-reviews' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Festival Lineup', '/festival-lineup' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Rides', '/my-rides' %>
                    </li>
                  </ul> 
                </li>      
                <li class="hidden-phone main-nav-li dropdown dropdown-helper <%='active' if current_page?('/rideshare') %>">
                  <a class="dropdown-toggle"  href='/rideshare' role="button">
                    Ride Share
                  </a>
                  <ul class="dropdown-menu" >
                    <li class="dropdown-li">
                      <%if user_signed_in?%>
                      <%= link_to 'Post A Ride', new_user_ride_path(current_user) %>
                      <%else%>
                      <%= link_to 'Post A Ride', 'http://www.musicfestivalnation.com/users/login' %>
                      <%end%>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Ride Share', '/rideshare' %>
                    </li>
                  </ul> 
                </li>  
                <li class="main-nav-li <%='active' if current_page?('/about')%>">
                  <%= link_to 'About', '/about', :class => 'dropdown-toggle' %>
                </li> 
                <li class="main-nav-li <%='active' if current_page?('/giveaways')%>">
                  <%= link_to 'Giveaways', '/giveaways', :class => 'dropdown-toggle' %>
                </li> 
                <li class="main-nav-li <%='active' if current_page?('/survivalguide')%>">
                  <%= link_to 'Survival Guide', '/survivalguide', :class => 'dropdown-toggle' %>
                </li> 
                
                
                  </ul> 
                </li>  
              </ul>
            </div>

            <%# This part only gets shown for the phone and replaces some of the normal options %>

            <div class="nav-collapse collapse visible-phone">
              <ul class="nav phone-only">
                <li class="main-nav-li dropdown <%='active' if current_page?('/festival-list/US/2013') %>">
                  <%= link_to 'US Festivals', '/festival-list/US/2013', class: "dropdown-toggle"%>
                </li>                
                <li class="main-nav-li dropdown <%='active' if current_page?('/calendar') %>">
                  <%= link_to 'Calendar', '/calendar', class: "dropdown-toggle" %>
                </li>
                <li class="main-nav-li dropdown <%='active' if current_page?('/festival-map') %>">
                  <%= link_to 'Map', '/festival-map', class: "dropdown-toggle" %>
                </li>
              
                

                <li class="main-nav-li dropdown <%='active' if current_page?('/my-comments') or current_page?('/festival-lineup') or current_page?('/users/login') or current_page?('/my-comments') or current_page?('/my-profile') or current_page?('/my-reviews') or current_page?('/my-rides') or current_page?('/mailboxes') or
                  current_page?('/my-giveaways') %>">
                  <%= link_to 'My Profile', '/my-profile', :class=>'dropdown-toggle' %>
                </li>      
                <li class="main-nav-li dropdown <%='active' if current_page?('/rideshare') %>">
                  <%= link_to 'Ride Share', '/rideshare', :class => 'dropdown-toggle' %>
                </li>
              </ul>
            </div>
          
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>