<!DOCTYPE html>
<html>
<head>
  <title>Music Festival Nation - Info, Maps, and More</title>
  <meta name="description=" content="Our goal is to make the music festival experience better. We will help you find festivals, get there, and enjoy the already amazing experience a little more.">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB6oYSzKPIZamxDrIOd8LRq11SLuj1hMfM&sensor=true">
    </script>
    <% if false%>
    <script type="text/javascript">
      var map;

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-40, 150),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        google.maps.event.addListener(map, 'click', function(event) {
          placeMarker(event.latLng);
        });

      }
      function placeMarker(location) {
        var marker = new google.maps.Marker({
          position: location, 
          map: map
        });
        map.setCenter(location);
        }
    </script>
    <% end %>
    <%if true%>
    <script type="text/javascript">
    var map;
    function initialize() {
    var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
    var mapOptions = {
      center: myLatlng,
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };


    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    var contentString = '<div id="content">'+'<%=Festival.first.name%>'+ 
        '<div id="siteNotice">'+
        '</div>'+
        '<h2 id="firstHeading" class="firstHeading">Uluru</h2>'+
        '<div id="bodyContent">'+
        '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
        'sandstone rock formation in the southern part of the '+
        'Northern Territory, central Australia. It lies 335 km (208 mi) '+
        'south west of the nearest large town, Alice Springs; 450 km '+
        '(280 mi) by road. Kata Tjuta and Uluru are the two major '+
        'features of the Uluru - Kata Tjuta National Park. Uluru is '+
        'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
        'Aboriginal people of the area. It has many springs, waterholes, '+
        'rock caves and ancient paintings. Uluru is listed as a World '+
        'Heritage Site.</p>'+
        '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
        'http://en.wikipedia.org/w/index.php?title=Uluru</a> (last visited June 22, 2009).</p>'+
        '</div>'+
        '</div>';

    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title:"Uluru (Ayers Rock)"
    });
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
    google.maps.event.addListener(map, 'click', function(event) {
          placeMarker(event.latLng);
        });

      }

      function placeMarker(location) {
        marker = new google.maps.Marker({
          position: location, 
          map: map
        });
        map.setCenter(location);

        }
        
    </script>
    <% end%>

</head>
<body onload="initialize()">
  
  <div id="application-container" class="container">
    <header>
    <aside>

    </aside>
    <aside>
      <div class="row">
        <div id="logo" class="span12">
          <%=image_tag("MFN_invert.jpg", alt:"MFN banner") %>
        </div>
      </div>
    </aside>
    <div id="user_nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.username %>. Not you?
        <%= link_to "Edit Profile",edit_user_registration_path%>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> or
      <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %> or 
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
      </div>
    <nav id="main-page-nav">
      <div class="row">
        <div id="main-nav-span" class="span12">
          <div id="main-nav" class="navbar">
            <div class="navbar-inner">
              <ul class="nav" role="navigation">
                <li class="main-nav-li dropdown active">
                  <%= link_to 'Home', root_path, :class => 'dropdown-toggle' %>
                </li>
                <li class="main-nav-li dropdown">
                  <a id="drop2" class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="festivals.html" >
                    Festivals
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                    <li class="dropdown-li">
                      <%= link_to 'Name', festivals_path %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Calendar', '/calendar' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Map', '/festival-map' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'Ride Share', '/ride_share' %>
                    </li>
                  </ul> 
                </li>   
                <li class="main-nav-li dropdown">
                  <a id="drop3" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    My Profile
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li class="dropdown-li">
                      <a href="#">My Pics</a>
                    </li>
                    <li class="dropdown-li">
                      <a href="#">My Videos</a>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Comments', '/my-comments' %>
                    </li>
                    <li class="dropdown-li">
                      <%= link_to 'My Summer Line Up', '/lineup' %>
                    </li>
                  </ul> 
                </li>      
                <li class="main-nav-li dropdown">
                  <a id="drop3" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    Ride Share
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li class="dropdown-li">
                      <a href="#">Requests</a>
                    </li>
                    <li class="dropdown-li">
                      <a href="#">Offers</a>
                    </li>
                    <li class="dropdown-li">
                      <a href="#">Map</a>
                    </li>
                  </ul> 
                </li>  
                <li class="main-nav-li dropdown">
                  <a id="drop4" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    Mobile Apps
     </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
                    <li class="dropdown-li">
                      <a href="#">Friend Finder</a>
                    </li>
                  </ul> 
                </li> 
                <li class="main-nav-li dropdown">
                  <a id="drop5" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    Merchandise
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop5">
                    <li class="dropdown-li">
                      <a href="#">Hats</a>
                    </li>
                    <li class="dropdown-li">
                      <a href="#">T-shirts</a>
                    </li>
                    <li class="dropdown-li">
                      <a href="#">Sunglasses</a>
                    </li>
                    <li class="dropdown-li">
                      <a href="#">Ponchos</a>
                    </li>
                    <li class="dropdown-li">
                      <a href="#">Water Bottles</a>
                    </li>
                    <li class="dropdown-li">
                      <a href="#">Beer Packs</a>
                    </li>
                  </ul> 
                </li> 
                <li class="main-nav-li">
                  <%= link_to 'About', '/about', :class => 'dropdown-toggle' %>
                </li> 
                <li class="main-nav-li">
                  <%= link_to 'Contact', '/contact', :class => 'dropdown-toggle' %>
                </li> 
                  </ul> 
                </li>  
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <%= yield %>
  </div>
  
</body>
</html>
